# virtual Environments
venv/
.venv/
env/

#environment variables
.env

#ignore folder
assist/
faces/
piper/
tests/

#other ignore
__pycache__/
*.pyc
output.wav
*.tar.gz
chat_history.json
# runtime assets and logs
GIFS/
logs/
